@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Montserrat:wght@300;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", "Kanit", sans-serif;
  color:#382C41;
}

.my_container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}
input{
  outline: none;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.scrollbar-color-purple::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 30px;

}

.scrollbar-color-purple::-webkit-scrollbar-track {
  background: none;
  border-radius: 30px;
}

.scrollbar-color-purple::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}